<div *ngIf="valid" class="activation">
  <div *ngIf="loader; then loading; else default"></div>

  <ng-template #loading>
    <button class="activation-button" (click)="activateAccount()" [disabled]="loader">
      Loading ...
    </button>
  </ng-template>

  <ng-template #default>
    <ng-container *ngIf="expired; then expire; else notExpired"></ng-container>

    <ng-template #notExpired>
      <button class="activation-button" (click)="activateAccount()">
        Click here to activate your account
      </button>
    </ng-template>

    <ng-template #expire>
      <button class="activation-button" (click)="refreshActivationLink()">
        Send a new link to your email account
      </button>
    </ng-template>
  </ng-template>
</div>
