<div class="custom-heroes">
  <div class="custom-heroes-container" *ngFor="let hero of customHero | keyvalue">
    <span class="custom-heroes-key">{{ hero.key.toUpperCase() }}</span>
    <div *ngIf="isObject(hero.value); then object; else string"></div>
    <ng-template #object>
      <div class="custom-heroes-object">
        <div
          class="custom-heroes-object-item"
          *ngFor="let nested of getSpells(hero.value) | keyvalue"
        >
          <div class="custom-heroes-object-values">
            {{ capitalize(nested.key) }} :
            {{ nested.value || "No " + nested.key + " spell yet" }}
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template #string>
      <span class="custom-heroes-value">{{
        hero.value || "Not defined yet"
      }}</span></ng-template
    >
  </div>
</div>
<button (click)="goBack()">Back</button>
