<h2>Create your Own Super-Hero</h2>

<div>
  <form class="form-group" [formGroup]="heroForm" (ngSubmit)="onSubmit()">
    <h3>Overview :</h3>
    <label *ngFor="let input of inputs" class="form-control">
      <span class="hero-keys">{{ input.toUpperCase() }} : </span>
      <input
        *ngIf="input !== 'name'; else required"
        type="{{ getInputType(input) }}"
        [formControlName]="input"
      />
      <ng-template #required>
        <input type="text" [formControlName]="input" required />
      </ng-template>
    </label>

    <div formGroupName="spells">
      <h3>Spells :</h3>

      <label class="form-group-spells" *ngFor="let spell of spells">
        <span class="hero-keys">{{ spell.toUpperCase() }}</span>
        <input type="text" [formControlName]="spell" />
      </label>
    </div>

    <p>Form Status : {{ heroForm.status }}</p>
    <div *ngIf="loader; then loading; else submit"></div>
  </form>
</div>

<ng-template #loading>
  <button class="submit-hero" type="submit" [disabled]="loader">
    Loading ...
  </button></ng-template
>

<ng-template #submit>
  <button class="submit-hero" type="submit" [disabled]="!heroForm.valid || loader">
    Submit
  </button>
</ng-template>
