.form-container {
  display: flex;
  flex-direction: column;

  &-input {
    display: block;
    padding: 1rem 0rem 1rem 0rem;
  }
}

.input-container {
  padding: 1rem 0rem 1rem 0rem;
}

.form-errors {
  color: #e91916;
}
