<h2>Create an account :</h2>

<form class="form" (ngSubmit)="onSubmit()" [formGroup]="registerForm">
  <div class="form-container" *ngFor="let input of registerForm.controls | keyvalue">
    <div *ngIf="isFormGroup(input.key); then location; else default"></div>
    <ng-template #default>
      <div class="input-container">
        <label class="input-container-item">
          <span class="register-key">{{ capitalize(input.key) }}</span>
          <input type="text" [formControlName]="input.key" />
          <div class="form-errors" *ngIf="hasErrors(input.key)">
            {{ getErrorMessage(input.key) }}
          </div>
        </label>
      </div>
    </ng-template>

    <ng-template #location>
      <div
        class="input-container"
        *ngFor="let location of registerForm.controls[input.key]['controls'] | keyvalue"
        [formGroupName]="input.key"
      >
        <label>
          <span class="register-key">{{ capitalize(location.key) }}</span>
          <input type="text" formControlName="{{ location.key }}" />
        </label>
      </div>
    </ng-template>
  </div>

  <button class="register-button" type="submit">Register</button>
</form>
