<h1>{{ title }}</h1>
<lib-toastify-toast-container
  [autoClose]="3000"
  [newestOnTop]="true"
></lib-toastify-toast-container>
<nav>
  <a routerLink="/heroes">Heroes</a>
  <a routerLink="/dashboard">Dashboard</a>
  <a routerLink="/custom-heroes">Custom Heroes</a>
  <a routerLink="/on-changes">ngOnChanges</a>
  <a routerLink="/unsubscribe">Unsubscription</a>
  <a routerLink="/register">Register</a>
</nav>
<app-hero-search></app-hero-search>
<router-outlet></router-outlet>
<app-messages></app-messages>
