.add-button {
  background-color: #3f525c;
  border-radius: 2px;
  padding: 0.7rem;
  font-size: 1.2rem;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  text-align: center;
  min-width: 70px;
  box-sizing: border-box;
  margin-top: 0.5rem;
  width: 200px;
  cursor: pointer;
}

.event {
  &-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    margin-top: 3rem;
  }

  &-input {
    margin-top: 0.5rem;
    padding: 0.3rem;
  }
}
