<div class="custom-heroes">
  <ul class="custom-heroes-list">
    <li class="custom-heroes-item" *ngFor="let hero of customHeroes">
      <div class="custom-heroes-values" *ngFor="let item of hero | keyvalue">
        <span class="custom-heroes-item-key">{{ item.key.toUpperCase() }}</span>
        <div *ngIf="isObject(item.value); then object; else string"></div>
        <ng-template #object>
          <div class="custom-heroes-item-container">
            <div
              class="custom-heroes-item-object"
              *ngFor="let nested of getSpells(item.value) | keyvalue"
            >
              <div class="custom-heroes-item-object-values">
                <div class="custom-heroes-item-object">
                  {{ capitalize(nested.key) }} : {{ nested.value }}
                </div>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template #string>
          <span class="custom-heroes-item-value">{{
            item.value || "Not defined yet"
          }}</span></ng-template
        >
      </div>
    </li>
  </ul>
</div>
